# 1. Ignore tudo
*

# 2. Não ignore estas coisas específicas
!/repository.yaml
!/README.md
!/LICENSE
!/.gitignore

# 3. Não ignore a pasta do seu addon e o que tem dentro
!/saj_portal_web_crawler/
!/saj_portal_web_crawler/**

# 4. Mesmo assim, ignore coisas específicas dentro da pasta liberada
# (por exemplo: __pycache__, arquivos .pyc, etc.)
saj_portal_web_crawler/__pycache__/
saj_portal_web_crawler/*.py[cod]
saj_portal_web_crawler/*$py.class

# 5. Ignore também outras pastas e arquivos padrões que não quer subir
*.log
logs/
*.log.*
*.html
.env
.venv
*.egg-info/
.vscode/
.DS_Store
Thumbs.db
